[submodule "libs/imgx"]
	path = libs/imgx
	url = https://github.com/rhard/imgx.git
[submodule "libs/xplane_sdk"]
	path = libs/xplane_sdk
	url = https://github.com/leecbaker/xplane_sdk
[submodule "libs/GameNetworkingSockets"]
	path = libs/GameNetworkingSockets
	url = https://github.com/ValveSoftware/GameNetworkingSockets.git
